USE [master]
GO
/****** Object:  Database [OOBS]    Script Date: 7/4/2024 9:50:38 AM ******/
CREATE DATABASE [OOBS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOBS', FILENAME = N'C:\Users\Venkata_suresh\OOBS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOBS_log', FILENAME = N'C:\Users\Venkata_suresh\OOBS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOBS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOBS]
GO
USE [OOBS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/4/2024 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountDetails]    Script Date: 7/4/2024 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountNo] [varchar](10) NULL,
	[EmployeeCode] [varchar](10) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[FatherName] [varchar](30) NOT NULL,
	[Gender] [varchar](6) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Opendate] [date] NOT NULL,
 CONSTRAINT [PK_dbo.AccountDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminLogins]    Script Date: 7/4/2024 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[Password] [varchar](16) NOT NULL,
 CONSTRAINT [PK_dbo.AdminLogins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeLogins]    Script Date: 7/4/2024 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLogins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[Password] [varchar](16) NOT NULL,
	[AccountDetails_Id] [int] NULL,
 CONSTRAINT [PK_dbo.EmployeeLogins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interests]    Script Date: 7/4/2024 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AddedDate] [date] NOT NULL,
	[Rate] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Interests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizationDeposits]    Script Date: 7/4/2024 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationDeposits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepositDate] [date] NOT NULL,
	[ToAccountNo] [varchar](16) NULL,
	[Amount] [real] NOT NULL,
	[AccountDetails_Id] [int] NULL,
 CONSTRAINT [PK_dbo.OrganizationDeposits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalBankDetails]    Script Date: 7/4/2024 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalBankDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [varchar](30) NOT NULL,
	[AccountNo] [varchar](16) NOT NULL,
	[IFSCCode] [varchar](11) NOT NULL,
	[AccountDetails_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PersonalBankDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Withdraws]    Script Date: 7/4/2024 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Withdraws](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WithdrawDate] [date] NOT NULL,
	[FromAccountNo] [varchar](16) NULL,
	[ToAccountNo] [varchar](16) NULL,
	[Amount] [real] NOT NULL,
	[AccountDetails_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Withdraws] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountDetails_Id]    Script Date: 7/4/2024 9:50:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_AccountDetails_Id] ON [dbo].[EmployeeLogins]
(
	[AccountDetails_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountDetails_Id]    Script Date: 7/4/2024 9:50:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_AccountDetails_Id] ON [dbo].[OrganizationDeposits]
(
	[AccountDetails_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountDetails_Id]    Script Date: 7/4/2024 9:50:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_AccountDetails_Id] ON [dbo].[PersonalBankDetails]
(
	[AccountDetails_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountDetails_Id]    Script Date: 7/4/2024 9:50:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_AccountDetails_Id] ON [dbo].[Withdraws]
(
	[AccountDetails_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeeLogins_dbo.AccountDetails_AccountDetails_Id] FOREIGN KEY([AccountDetails_Id])
REFERENCES [dbo].[AccountDetails] ([Id])
GO
ALTER TABLE [dbo].[EmployeeLogins] CHECK CONSTRAINT [FK_dbo.EmployeeLogins_dbo.AccountDetails_AccountDetails_Id]
GO
ALTER TABLE [dbo].[OrganizationDeposits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrganizationDeposits_dbo.AccountDetails_AccountDetails_Id] FOREIGN KEY([AccountDetails_Id])
REFERENCES [dbo].[AccountDetails] ([Id])
GO
ALTER TABLE [dbo].[OrganizationDeposits] CHECK CONSTRAINT [FK_dbo.OrganizationDeposits_dbo.AccountDetails_AccountDetails_Id]
GO
ALTER TABLE [dbo].[PersonalBankDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PersonalBankDetails_dbo.AccountDetails_AccountDetails_Id] FOREIGN KEY([AccountDetails_Id])
REFERENCES [dbo].[AccountDetails] ([Id])
GO
ALTER TABLE [dbo].[PersonalBankDetails] CHECK CONSTRAINT [FK_dbo.PersonalBankDetails_dbo.AccountDetails_AccountDetails_Id]
GO
ALTER TABLE [dbo].[Withdraws]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Withdraws_dbo.AccountDetails_AccountDetails_Id] FOREIGN KEY([AccountDetails_Id])
REFERENCES [dbo].[AccountDetails] ([Id])
GO
ALTER TABLE [dbo].[Withdraws] CHECK CONSTRAINT [FK_dbo.Withdraws_dbo.AccountDetails_AccountDetails_Id]
GO
USE [master]
GO
