

<ul class="nav justify-content-end">
    
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" href="#"><h4>Home</h4></a>
  </li>
  <li class="nav-item">
   <a class="nav-link" href="#" routerLink="/about"><h4>About</h4></a>
  </li>
  <li class="nav-item">
   <a class="nav-link" routerLink="/help" href="#"><h4>ContactUs</h4></a>
  </li>
  <li class="nav-item">
   <a class="nav-link" routerLink="/login" href="#"><h4>Login</h4></a>
  </li>
  
</ul>


<div class="imgdiv">
  <img class="img" src="https://i.pinimg.com/236x/fe/1b/59/fe1b592512b1d575306caef16f7fa189--ppt-template-templates.jpg" alt="">
  <div class="centered"><p>Online Organization Banking system OOBS (Online Organization Banking system) is a bank for a particular organization. In which, only the employees of that particular organization can have account. It provides zero minimum balance account and ease in transactions and this bank is completely online. Online Banking is one of the most important financial activities which will be carried out by any person who holds a bank account.
    There are various activities that can be carried out once you log in to your bank account. Once a user logs in he or she can check the bank balance, check bank account transaction history or account summary, 
    download account summary. Whenever we deal with a banking system main concern should be the security related to banking transactions and account login activity. The main objective of our project is to provide more security while performing online transaction by providing efficient authentication etc.</p>
</div>
</div>
 
 