
<ul class="nav justify-content-end">
     <li class="nav-item">
       <a class="nav-link" routerLink="/home" href="#"><h4>Home</h4></a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/about"><h4>About</h4></a>
     </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/help" href="#"><h4>ContactUs</h4></a>
     </li>    
     
     <li class="nav-item">
      <a class="nav-link" routerLink="/login" href="#"><h4>Login</h4></a>
     </li>
     
   </ul>
   <div class="imgdiv">

    <img class="img" src="https://image.slidesharecdn.com/futureofbanking-170607084307/95/future-of-banking-1-638.jpg?cb=1496838940" alt="">

    <div class="centered"><h3>Welcome to OOBS!</h3></div>

</div>
   
