<body>
    
  
  <table class="table caption-top">
     
    <br>
    <br>
  
    <tbody>
      
      <tr>
       
        <td>First Name:-</td><td><b>Mohan</b></td>
        <td></td>
      </tr>
      <tr>
        
        
        <td>Last Name:-</td><td><b>Krishna</b></td>
        <td></td>
      </tr>
      
      <tr>
        
        
        <td>Gender:-</td><td><b>Male</b></td>
        <td></td>
      </tr>
      <tr>
        
        
        <td>Email:-</td><td><b>mohankrishna@gmail.com</b></td>
        <td></td>
      </tr>
      <tr>
        
        
        <td>Date Of Birth:-</td><td><b>17 Oct 1997</b></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div><a routerLink="/admin-home"><h3><button class="btn btn-primary  " style="margin-right:5px;" type="next">Back</button></h3></a></div>
  </body>